.header{
    display: flex;
    background-color: beige;
    height: 250px;
    width: 100;
}


img{
    height: 300px;
}
.name{
    display:inline;
    position: absolute;
    margin-left: 500px;
}
h1{
    margin-left: 500px;
}

